.total-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 90%;
    margin: auto;
}


.store-container{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #efefef;
    padding-top: 20px;
}

.cart-container{
    background-color: teal;
    color: #efefef;
    text-align: center;
}

@media screen and (max-width:414px) {
    .total-container{
        display: flex;
        flex-direction: column;
    }
    .store-container{
        display: grid;
        grid-template-columns: none;
    }
}

/* repeat(1,1fr) */